-r requirements-base.txt
pyenchant
#django-filebrowser-no-grappelli
-e git+git://github.com/pulse-mind/django-filebrowser-no-grappelli@django40#egg=django-filebrowser-no-grappelli
Pillow
Selenium
coverage
